body {
    background-color: burlywood;
}




h1 {
    text-align: center;
    padding: 1%;
    color: white;
    text-shadow: 2px 2px black;
    text-decoration-line: underline;
}


img {
    display: block;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: auto;
}

h2{
    text-align: center;
    padding: 1%;
    color: white;
    text-shadow: 2px 2px black;
    text-decoration-line: underline;
}

p {
    text-align-last: center;
    font-size: 20px; 
}

section div.target-card ul {
    text-align: center;
    list-style: none;
}

input[type="text"] {
    padding: 10px;
    box-shadow: 2px 2px grey;
    width: 30%;  
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 35%;
}









/* 
.explanation-card {
background-color: white ;
padding: 2%;
margin: 2%;
display: flex;
align-items: center;
flex-direction: column;
text-align: center;
}

.titulo-categoria {
margin: 2%;
}



.text-card {
margin: 2%;

}

.explanation-card-caloriasalimentos {
background-color: white ;
padding: 2%;
margin: 2%;
}
    
.explanation-card-caloriasCalculadora{
background-color: white ;
padding: 2%;
margin: 2%;
}


p {
background-color: white;
}

h2 {
text-align: center;
padding: 1%;
color: white;
text-shadow: 2px 2px black;
}

div.nutricion_imagen {
    display: block;
    width: 50%;
    height: 50%;
    margin-left: 20%;
    margin-right: auto;
}

.calorias_que_son {
display: flex;
} */