body {
    background-color: antiquewhite;
}




h1 {
    text-align: center;
    padding: 1%;
    color: white;
    text-shadow: 2px 2px black;
    text-decoration-line: underline;
}

img.presentacion {
    display: block;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: auto;
}

h2{
    text-align: center;
    padding: 1%;
    color: black;
    text-shadow: 2px 2px rgb(176, 155, 209);
    text-decoration-line: underline;
}


p {
    text-align-last: center;
    font-size: 20px; 
} 

section div.card-container ul {
    text-align: center;
    list-style: none;
    font-size: 20px; 
}

input {
    padding: 10px;
    box-shadow: 2px 2px grey;
    width: 30%;  
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 35%;
}

label {
    margin-left: 48%;
    text-align: center;
    font-size: 20px;
}

select, button {
    padding: 10px;
    box-shadow: 2px 2px grey;
    width: 32%;  
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 35%;
}



ul.social-links {
    list-style: none;
    display: flex;
    margin-top: 80px;
    justify-content:space-evenly;
  }
  
  .tarjeta {
    background-color: blanchedalmond;
    margin-left: 10px;
    margin-top: 20px;
    width: 75vmax; 
    height: 40vh; 
    border: 1px solid #ccc; 
    padding: 20px; 
  }


  .tarjeta2 {
    width: 17vmax; 
    height: 40vh; 
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: -22% ;
    margin-left: 80%;
    background-color: blanchedalmond;
  }


  .tarjeta3 {
    background-color: blanchedalmond;
    margin-left: 10px;
    margin-top: 25px;
    width: 96vmax; 
    height: 40vh; 
    border: 1px solid #ccc; 
    padding: 20px; 
  }

/*  
@media screen and (max-width: 768px) {
    
  }
   */









