<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
   
    <header> 
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="galeria.html">Galeria</a>
            <a href="listas.html">Listas</a>
            <a href="tabla.html">Tabla</a>
            <a href="formulario.html">Formulario</a>
            <a href="https://www.google.com/">Google</a>
        </nav>
    </header>

    <main>
        
        <form action="" method="post">

            <!-- Crear campos para nombre, apellido,fecha de nacimiento y edad -->
            <br>

            <div>
                <label for="nombre"> Nombre: </label>
                <input type="text" name="nombre" id="nombre" placeholder="Escriba su nombre">

            </div>

            <br>

            <div>
                <label for="apellido"> Apellido: </label>
                <input type="text" name="apellido" id="apellido" placeholder="Escriba su apellido">
    
            </div>

            <br>

            <div>
                <label for="">Fecha de nacimiento</label>
                <input type="date" name="FechaDeNacimiento" id="FechaDeNacimiento">

            </div>

            <br>

            <div>
                <label for="edad">Edad</label>
                <input type="number" name="edad" id="edad" placeholder="escriba su edad" required>

            </div>

            <hr>
            <br>

            <div>

                <label for="genero">Seleccione un genero</label>
                <select name="genero" id="genero">
                    <option value="Masculino">M</option>
                    <option value="Femenino">F</option>
                    <option value="Otro">OTRO</option>
                </select>

            </div>

            <div>
                <h3>Seleccione un area a desarrollarse</h3>

                
                    <input type="radio" name="area" id="app">
                    <label for="app">Aplicacion web</label>
                                
                    <input type="radio" name="area" id="analisis_datos">
                    <label for="analisis_datos">Analisis de datos</label>
                                
                    <input type="radio" name="area" id="juegos">
                    <label for="juegos">Desarrollo de juegos</label>
                          

            </div>


            <div>
                <!-- Agregar opciones para seleccionar tecnologia checkbox: HTML, CSS , JS -->

                <h3>Seleccione una tecnologia:</h3>

                <input type="checkbox" name="tecnologia" id="html">
                <label for="html">HTML</label>

                <input type="checkbox" name="tecnologia" id="css">
                <label for="css">CSS</label>

                <input type="checkbox" name="tecnologia" id="javascript">
                <label for="javascript">JS</label>


            </div>

            <br>
            <hr>

            <div>
                <!-- Agregar opciones para navegador: Chrome, Opera, Safari, Firefox, Edge  -->

                <label for="navegador">Seleccione navegador</label>
                <input list="browsers" id="navegador" name="navegador">
                <datalist id="browsers">
                    <option value="Chrome">Chrome</option>
                    <option value="Opera">Opera</option>
                    <option value="Safari">Safari</option>
                    <option value="Firefox">Firefox</option>
                    <option value="Edge">Edge</option>

                </datalist>

            </div>
            
            <br>
            <hr>

            <fieldset>
                <!-- Agregar area para datos personales con fieldset: telefono, correo -->

                <legend>Datos Personales </legend>

                <div> 
                    <label for="telefono">Telefono</label>
                    <input type="tel" name="telefono" id="telefono">
                    
                </div>

                <br>

                <div>
                    <label for="email">Correo</label>
                    <input type="email" name="email" id="email">

                </div>

                <div></div>


            </fieldset>


            <br>
            <hr>

            <div>
                <label for="comentario">Comentario:</label>
                <textarea name="comentario" id="comentario" cols="30" rows="30" placeholder="Escriba un comentario"></textarea>
            </div>


            <div>
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">

            </div>

        </form>
    </main>

    <footer> 
        <h3>Pie de Pagina </h3>
    
    </footer>

</body>
</html>