<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut icon" href="../img/perrito icono.ico" type="image/x-icon">
    <title>GALERIA</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="galeria.html">Galeria</a>
            <a href="listas.html">Listas</a>
            <a href="tabla.html">Tabla</a>
            <a href="formulario.html">Formulario</a>
            <a href="https://www.google.com/" target="_blank">Google</a>
            <a href="#enlace-interno">Ver texto</a>
        </nav>
    </header>

    <main>
        <section>
            <div>
                <img src="../img/cocker_spaniel_raza_crop1631729349156.jpeg_423682103.webp" alt="Cocker Spaniel">
                <h3>Cocker Spaniel</h3>
                <p>Descripcion: Imagen del perro </p>
                <a href="../img/cocker_spaniel_raza_crop1631729349156.jpeg_423682103.webp" target="_blank"></a>
                <br>
                <a href="../img/1_ZV5i5iKz5bTwtaDB_ytFpQ.jpg" download>Descargar imagen</a>
                <br>
                <a href="../Clase 01. HTML 1.pdf" download></a>
            </div>
            <div>
                <img src="../img/cocker_spaniel_raza_crop1631729349156.jpeg_423682103.webp" alt="Cocker Spaniel">
                <h3>Cocker Spaniel</h3>
                <p>Descripcion: Imagen del perro </p>
                <a href="../img/cocker_spaniel_raza_crop1631729349156.jpeg_423682103.webp" target="_blank"></a>
                <br>
                <a href="../img/1_ZV5i5iKz5bTwtaDB_ytFpQ.jpg" download>Descargar imagen</a>
                <br>
                <a href="../Clase 01. HTML 1.pdf" download></a>
            </div>
            <div>
                <img src="../img/cocker_spaniel_raza_crop1631729349156.jpeg_423682103.webp" alt="Cocker Spaniel">
                <h3>Cocker Spaniel</h3>
                <p>Descripcion: Imagen del perro </p>
                <a href="../img/cocker_spaniel_raza_crop1631729349156.jpeg_423682103.webp" target="_blank"></a>
                <br>
                <a href="../img/1_ZV5i5iKz5bTwtaDB_ytFpQ.jpg" download>Descargar imagen</a>
                <br>
                <a href="../Clase 01. HTML 1.pdf" download> Descargar PDF</a>
                <a href="../Clase 01. HTML 1.pdf"> Ver pdf</a>
            </div>
        </section>

        <section id="enlace-interno">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit et repellendus adipisci atque aliquid
                perspiciatis id consectetur laboriosam rerum quidem natus aspernatur corporis cupiditate porro ipsam
                minus, dolor, fuga aperiam?
                Sunt repudiandae eveniet vel! Quo, animi rem nisi et tempora vero deleniti excepturi, consequatur,
                laudantium veniam aspernatur a mollitia. Quisquam, nostrum repellat? Odio a ipsa consequuntur aliquam
                dolorem itaque est?
                Repellendus iusto, sapiente exercitationem explicabo qui fugiat consequatur animi, assumenda voluptatem
                veniam aut debitis modi. Assumenda ut quia magnam nihil rerum similique ratione laborum voluptates!
                Expedita ex repellat ab earum.
                Soluta ipsum enim et voluptatibus beatae magnam velit ab voluptatem harum omnis. A magni placeat tempore
                error! Sed praesentium sit itaque illo, debitis explicabo excepturi amet voluptate quibusdam qui rerum.
                Iusto, suscipit. Animi libero harum voluptatem maxime ut voluptate earum, quos repellat eaque molestias
                rerum dolore voluptates adipisci accusantium, explicabo ipsam ipsum qui dolor. Quos culpa error
                quibusdam dolores voluptate!
                Asperiores dolore eligendi, cupiditate qui ipsam doloribus! Maxime aliquid dolor consectetur eveniet,
                laboriosam modi possimus placeat, reiciendis molestias amet asperiores doloremque officiis debitis sed,
                dolores quae illum rerum ab! Commodi.
                Officia itaque doloribus minima ullam praesentium non omnis dolore soluta. Minus numquam quidem tempora
                impedit in molestiae voluptatibus nostrum asperiores eos laboriosam veritatis vel illo doloremque,
                aliquid rerum odio magni.
                Aut, esse molestias modi accusantium reprehenderit quaerat delectus cum. Debitis ut quos blanditiis
                deleniti nostrum ab, odit eaque nesciunt est? Dolorum rem nemo voluptate labore dolorem ut voluptas
                excepturi suscipit!
                Possimus dolorem, repudiandae debitis doloribus sequi est cum at voluptates odio assumenda vel quisquam.
                Dignissimos, voluptate nesciunt natus tempore necessitatibus harum expedita exercitationem provident
                facere. Amet non harum nemo placeat!
                Sed debitis officia itaque? Culpa excepturi temporibus, soluta laboriosam molestiae voluptate obcaecati
                harum labore doloribus deserunt, quis quam. Nam autem officia exercitationem suscipit excepturi
                explicabo ex nesciunt laudantium quisquam eveniet.</p>

        </section>

    </main>

    <footer> 
        <h3>Pie de Pagina </h3>
    
    </footer>
    
</body>

</html>