<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut icon" href="../img/perrito icono.ico" type="image/x-icon">
    
    <title>Listas</title>
</head>
<body>
    <header> 
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="galeria.html">Galeria</a>
            <a href="listas.html">Listas</a>
            <a href="tabla.html">Tabla</a>
            <a href="formulario.html">Formulario</a>
            <a href="https://www.google.com/">Google</a>
        </nav>
    </header>

    <main>
        <section>
            <h1> Lista Ordenada</h1>
               
            <ul>
                <li>Lunes </li>
                <li>Martes </li>
                <li>Miercoles </li>
                <li>Jueves </li>
                <li>Lunes </li>
                <li>Lunes </li>
    
            </ul>
            
            <ol>
                <li>Lunes </li>
                <li>Martes </li>
                <li>Miercoles </li>
                <li>Jueves </li>
                <li>Viernes </li>
                <li>Sabado </li>
    
            </ol>
    
            <ol type="1">
                <li>Lunes </li>
                <li>Martes </li>
                <li>Miercoles </li>
                <li>Jueves </li>
                <li>Viernes </li>
                <li>Sabado </li>
    
            </ol>
    
            <ol type="i">
                <li>Lunes </li>
                <li>Martes </li>
                <li>Miercoles </li>
                <li>Jueves </li>
                <li>Viernes </li>
                <li>Sabado </li>
    
            </ol>
    
    
        </section>
    
        <section>
            <h1> Lista de definicion</h1>
    
            <b><p> Alimentos lacteos </p></b>
    
            <dl>
                <dt>Leche</dt>
                    <dd> Descremada </dd>
                    <dd> Completo </dd>
    
                <dt> Queso </dt>
                    <dd> Cremoso </dd>
                    <dd>Azul </dd>
            </dl>
    
        </section>
    
        <section> 
            <h1>Listas dependientes</h1>
            
            <ol>
                <li>Lunes </li>
                    <ul>
                        <li>Mañana</li>
                            <ul>
                                <li>14:00 Almuerzo</li>
                                <li>18:00 Clases de ingles</li>
                                <li>20:00 Gimnasio</li>
                            </ul>
    
                        <li>Tarde</li>
                        <li>Noche</li>
                    </ul>
    
                <li>Martes </li>
                <li>Miercoles </li>
                <li>Jueves </li>
                <li>Viernes </li>
                <li>Sabado </li>
                <li>Domingo </li>
            </ol>
    
        </section>

        
        
    </main>


</body>
</html>
