<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="HTML , audio, video, tabla">
    <meta name="description" content="Incorporacion de audio, video y estructura de tabla en html">
    <link rel="Shortcut icon" href="../img/perrito icono.ico" type="image/x-icon">
    <title>TABLA</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="listas.html">Listas</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="formulario.html">Formulario</a>
            <a href="https://www.google.com/">Google</a>
        </nav>
    </header>

    <!-- contenido -->

    <main>
        <secion>
            <!-- Seccion para incluir mapa -->
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1952.482356892748!2d-58.45036891196746!3d-34.61248432171423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb21bafa0901%3A0x31abef551984d29f!2sDe%20Perros%20Peluqueria!5e0!3m2!1ses-419!2sar!4v1692057782535!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </secion>
        <br>
        <secion>
            <!-- Video de Youtube  -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0uVxfJ_SPCw"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

        </secion>

        <br><br>
        <hr>

        <secion>
            <div>
                <!-- Audio -->
                <audio src="../Audio/Minotti 2017 Collection.mp3" ></audio>
            </div>
            <hr>
            <div>
                <!-- Video  -->
                <video src="../Video/Video perro para clases.mp4" width="1280" height="720" controls >Video de poodle</video>
            </div>

        </secion>

        <secion>
            <table border="1">
                <tr>
                    <th>Dia</th>
                    <th>Mes</th>
                    <th>Año</th>
                </tr>
                
                <tr>
                    <td>14 </td>
                    <td>Agosto</td>
                    <td>2023</td>
                </tr>

                <tr>
                    <td>15 </td>
                    <td>Agosto</td>
                    <td>2023</td>
                </tr>

            </table>

        </secion>

        <br><br>
        <hr>

        <section>
            <table border="2">
                <thead>
                    <th>Nombre</th>
                    <th>apellido</th>
                    <th>edad</th>
                </thead>

                <tbody>
                    <tr>
                        <td>Miguel</td>
                        <td>Vega</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>Domenico</td>
                        <td>Augusto</td>
                        <td>54</td>
                    </tr>


                </tbody>

            </table>

        </section>

        <br><br>

        <section>
            <!-- atrbutos para correr una celda en horizontal y vertical -->
            <table border="1">
                <tr>
                    <td rowspan="3">Zona Sur</td>
                    <td>Lanus</td>
                    <td>Avellaneda</td>   
                </tr>
                <tr>
                    <td colspan="2">Banfield</td>
                </tr>
                <tr>
                    <td>Quilmes</td>
                    <td>Berazategui</td>
                </tr>

            </table>

        </section>
    </main>

</body>

</html>